body{
    color: white;
    background-color: black;                                                 /*estipulando fundo cor das letras/fundo */
    font-family: Arial, Helvetica, sans-serif;                                 /*selecionando tipo e tamanho da fonte das letras  */
    margin: 20px;
}

ul {
    display: flex;
    justify-content: space-between;                                              /*estipulando as medidas as proporções da navbar */
    list-style-type: none;
    align-items: center;
    padding: 16px;
}

a{
    color: rgb(223, 2, 2);                                                       /* alterando a cor das letras na navbar */
    text-decoration: none;
}


.center{
    text-align: center;                                                             /*centralizando texto */                   
}

h1{
    color: rgb(250, 3, 3);                                                         /* configurando título h2 da página */
    font-size: 40px;
}